body {
    padding: 0;
    margin: 0;
}

.navbar {
    font-family: "sohne-var","Helvetica Neue","Arial", sans-serif;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin-top: 0px;
    padding-bottom: 30px;
    padding-top: 15px;
    text-align: inherit;
    background-color: rgba(255, 255, 255, 0.30);
    font-size: 17px;

}

li {
    display: inline;
}

a {
    text-decoration: none;
    text-align: center;
}

#signup {
    display: inline-block;
    background-color: #4895ef;
    color: #fff;
    font-size: 0.813rem;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 28px;
    vertical-align: middle;
    float: right;
    margin-right: 30%;
}

a:hover {
    color: #2a5bd7;
}

#login {
    display: inline-block;
    font-size: 0.813rem;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 28px;
    float: right;
    color: #2e2e2e;
    margin-left: 11.5%;
}

#logout {
     display: inline-block;
    background-color: #4895ef;
    color: #fff;
    font-size: 0.813rem;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 28px;
    vertical-align: middle;
    float: right;
    margin-right: 30%;
    margin-left: 10%;
}

#stats {
    display: inline-block;
    font-size: 0.813rem;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 28px;
    float: right;
    color: #2e2e2e;
    margin-right: 2%;
}

#about {
    display: inline-block;
    font-size: 0.813rem;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 28px;
    float: right;
    color: #2e2e2e;
    margin-right: 2%;
}

hr {
    color: rgba(249, 249, 249, 0.3);
}

