body {
    padding: 0;
    margin: 0;
}

.navbar {
    font-family: "sohne-var","Helvetica Neue","Arial", sans-serif;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    text-align: center;
    background-color: rgba(242, 250, 250, 0.30);
    font-size: 17px;

}

li {
    display: inline;
}

a {
    text-decoration: none;
}

#signup {
    padding-right: 10px;
    color: #2a5bd7;
    float: right;
}

a:hover {
    color: #2a5bd7;
}

#login {
    float: right;
}

#logout {
    float: right;

}

