<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link rel="icon" type="image" href="/static/favicon.ico"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href='/static/base.css'>
    {% block statics %}{% endblock %}
</head>
<body>
{% block navbar %}
    <div class="navbar">
    <ul>
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('logout') }}" id="logout">Log Out</a></li>
        {% else %}
        <li><a href="{{ url_for('login') }}" id="login">Log In</a></li>
        {% endif %}
        <li><a href="/about">About</a></li>
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('stats') }}">Statistics</a></li>
        {% endif %}
        <li><a href="{{ url_for('register') }}" id="signup">Sign Up</a></li>
    </ul>
    </div>
{% endblock %}
{% block content %}{% endblock %}
</body>
</html>