<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link rel="icon" type="image" href="/static/favicon.ico"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href='/static/base.css'>
    {% block statics %}{% endblock %}
</head>
<body>
{% block navbar %}
    <div class="navbar">
    <ul>
        {% if not current_user.is_authenticated %}
        <li><a href="{{ url_for('register') }}" id="signup">
            <img src="/static/sign_up.png" width="15" height="15" alt="" style="vertical-align:middle">
            Регистрация
        </a></li>
        {% endif %}
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('logout') }}" id="logout">
            <img src="/static/log-out.png" width="15" height="15" alt="" style="vertical-align:middle">
            Выход
        </a></li>
        {% else %}
        <li>
            <a href="{{ url_for('login') }}" id="login">
                <img src="/static/user.png" width="15" height="15" alt="" style="vertical-align:middle">
                Вход
            </a>
        </li>
        {% endif %}
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('stats') }}" id="stats">
            <img src="/static/stats.png" width="13" height="13" alt="" style="vertical-align:middle">
            Статистика
        </a></li>
        {% endif %}
        <li><a href="/about" id="about">О нас</a></li>

    </ul>
    <hr>
    </div>
{% endblock %}
{% block content %}{% endblock %}
</body>
</html>