<!DOCTYPE html>
<html lang="en">
{% include "base.html"  %}
{% import "bootstrap/wtf.html" as wtf %}
<link rel="stylesheet" type="text/css" href='/static/index.css'>
<title>
    {% block title %}Shortener{% endblock %}
</title>
{% block page_content %}
    {% if current_user %}
        <h1>Hello, {{ current_user.username }}</h1>
        <h1>ID: {{ current_user.id }}</h1>
    {% endif %}
<div class="page-header">
    <a href="{{ link }}">{{ link }}</a>
</div>
{{ wtf.quick_form(form) }}
{% endblock %}
</html>