<!DOCTYPE html>
<html lang="en">
<head>
    {% include "base.html"  %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href='/static/stats.css'>
    <title>Title</title>
</head>
<body>
{% block content %}
    <h1>{% block title %} {{ username.title() }}'s Statistics {% endblock %}</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Short link</th>
                <th scope="col">Original link</th>
                <th scope="col">Clicks</th>
                <th scope="col">Creation Date</th>
                <th scope="col">Expiration Date</th>
                <th scope="col">Active</th>
            </tr>
        </thead>
        <tbody>
            {% for link, number in links_and_numbers %}
                <tr>
                    <th scope="row">{{ number }}</th>
                    <td id="short_link"><a href="{{ link.short_link }}">{{ link.short_link }}</a></td>
                    <td id="original_link"><a href="{{ link.original_link }}">{{ link.original_link }}</a></td>
                    <td>{{  link.clicks }}</td>
                    <td>{{ link.creation_date.strftime('%Y-%m-%d %H:%M:%S') }} </td>
                    <td>{{ link.expiration_date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    {% if link.expiration_date < datetime_now %}
                        <td id="active-no">No</td>
                    {% else %}
                        <td id="active-yes">Yes</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
</body>
</html>